@media screen and (min-width: 1080px) {
    .container {
        width: 78%;
        margin: 0 auto;
    }

    header {
        padding: 0;
        border-bottom: 1px solid $grayish-blue;
        .hamburger-logo-group {
            gap: 5.5rem;
            .hamburger {
                display: none;
            }

            .menu {
                display: block;
                position: unset;
                height: unset;
                z-index: unset;

                .slide-menu {
                    width: unset;
                    padding: 0;

                    img {
                       display: none; 
                    }

                    ul {
                        flex-direction: row;
                        margin: 0;
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $dark-grayish-blue;
                        gap: 3.4rem;

                        

                        a {
                            position: relative;
                            display: block;
                            padding: 3rem 0;
                            border-bottom: 3px solid transparent;
                           
                           &:hover {
                                color: $very-vark-blue;
                               text-decoration: none;
                               //font-weight: 700;
                               //border-bottom: 3px solid $orange;
                            //    &::after {
                            //         content: "";
                            //         position: absolute;
                            //         background-color: hsl(26, 100%, 55%);
                            //         height: 3px;
                            //         width: 0px;
                            //         left: 0;
                            //         bottom: -20px;
                            //         transition: 0.3s;
                            //     }
                            } 
                            .hover::after {
                                content: "";
                                position: absolute;
                                background-color: hsl(26, 100%, 55%);
                                height: 3px;
                                width: 0px;
                                left: 0;
                                bottom: -20px;
                                transition: 0.3s;

                                :hover::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .cart-avatar-group {
            gap: 4.5rem;
            .avatar {
                width: 6rem;
            }
        }
        .cart {
           right: -7rem; 
           top: 90%;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 5rem 5rem;
    }

    .lightbox {
        width: 100%;

        .product-hero {
            border-radius: 1.5rem;
        }

        .previous, .next {
            display: none;
        }
        
        .thumb-gallery {
            display: flex;
            margin-top: 3rem;
            align-items: center;
            justify-content: space-between;

            .pic {
                display: flex;
                width: 20%;
                height: fit-content;
                overflow: hidden;
                border-radius: 1rem;

                img {
                    width: 100%;

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
            .active {
                border: 2px solid $orange;
                img {
                    opacity: 0.5;
                }
            }
        }
    }

    .product {
        width: 100%;
        padding: 3rem 0 3rem 3rem;

        .title {
            font-size: 4.4rem;
            margin-top: 1.8rem;
        }

        .description {
            margin-top: 3.5rem;
            font-size: 1.63rem;
        }

        .price-wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2.4rem;
            gap: 0.8rem;
        }

        .ctn-btn-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 1.5rem;

            .counter-wrapper {
                border-radius: 1rem;
                width: 62%;
                padding: 1.2rem 0.5rem; 
            }
            

            .btn {
                width: 100%;
            }
        }
    }
}